<h1>Welcome to OMDB Search!</h1>
<form class="" action="/search" method="post">
  <input type="text" name="term" value="" placeholder="Search OMDB">
  <button type="submit" name="button">Search</button>
</form>
